.doraemon-bambooCopter-Base {
    width: 16px;
    height: 7px;
    background-color: #ffcc00;
    margin-left: -74px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.doraemon-bambooCopter-line {
    width: 3px;
    height: 15px;
    background-color: #ffcc00;
    margin-left: -68px;
}

.doraemon-bambooCopter {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 10px;
}

.doraemon-bambooCopter-Wing {
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 53px;
    height: 16px;
    margin-left: -92px;
    border-radius: 50%;
    background-color: #e6b800;
    background-image: repeating-radial-gradient(circle,gray 7%,#e6b800 14%);
}
.doraemon {
    /* change code below */
    --doraemon-skin: #66b3ff;
    --doraemon-belly: white;
    --doraemon-beak: red;
    --doraemon-innerTop: white;
    --doraemon-mouth: red;

    position: relative;
    margin: auto;
    display: block;
    width: 300px;
    height: 300px;
}

.doraemon-left-eye {
    background: white;
    width: 20%;
    height: 25%;
    border-radius: 50%;
    border: 1px solid black;
    top: -5px;
    position: absolute;
    margin-top: -10%;
    margin-left: 29%;
}

.doraemon-right-eye {
    margin-left: 50%;
    background: white;
    width: 20%;
    height: 25%;
    border-radius: 50%;
    border: 1px solid black;
    top: -5px;
    position: absolute;
    margin-top: -10%;
}

.doraemon-sparkle {
    position: absolute;
    background: black;
    width: 21%;
    height: 45%;
    border-radius: 50%;
    top: 20%;
    left: 50%;
}

.doraemon-nose {
    margin-left: 45%;
    background: red;
    width: 9%;
    height: 10%;
    border-radius: 50%;
    border: 1px solid black;
    top: 20px;
    position: absolute;
    margin-top: -10%;
}

.doraemon-top {
    top: 10%;
    left: 25%;
    background: var(--doraemon-skin, gray);
    width: 50%;
    height: 48%;
    border-radius: 70% 70% 58% 58%;
    border: 2px solid black;
}

.doraemon-innerTop {
    position: absolute;
    background: var(--doraemon-belly, white);
    width: 40%;
    height: 38%;
    border-radius: 70% 70% 58% 58%;
    top: 11%;
    left: 6%;
}

.doraemon-mouth {
    position: relative;
    background: var(--doraemon-beak, white);
    width: 55%;
    height: 38%;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    top: 50%;
    left: 25%;
    transform: rotate(180deg);
}

.doraemon-pocket {
    position: absolute;
    background: white;
    width: 65%;
    height: 35%;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    top: 38%;
    left: 19%;
    transform: rotate(180deg);
    border: 1px solid black;
}

.doraemon-filler {
    top: 85%;
    left: 24%;
    position: absolute;
    background: white;
    width: 9%;
    height: 23%;
    border-top-left-radius: 50%;
    border-top-right-radius: 44%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 24%;
}

.doraemon-bottom {
    top: -48%;
    left: 7%;
    position: relative;
    background: #66b3ff;
    width: 39%;
    height: 38%;
    border-top-left-radius: 23%;
    border-top-right-radius: 23%;
    border-bottom-left-radius: 22%;
    border-bottom-right-radius: 22%;
    /* border-radius: 69% 74% 132% 146%; */
    border: 1px solid black;
}

.doraemon-bottominner {
    top: 0%;
    left: 9%;
    position: absolute;
    background: white;
    width: 81%;
    height: 67%;
    /* border-bottom-left-radius: 33px; */
    border-radius: 50%;
    border: 1px solid black;
}


.doraemon-innersparkle {
    position: absolute;
    background: white;
    width: 31%;
    height: 32%;
    border-radius: 50%;
    top: 30%;
    left: 45%;
}

.doraemon-tie {
    position: relative;
    background: red;
    width: 35%;
    height: 2%;
    border-radius: 50%;
    top: -48%;
    left: 10%;
}

.doraemon-left-feet {
    top: -55%;
    left: 8%;
    position: relative;
    border: 1px black solid;
    border-radius: 50%;
    height: 28px;
    background: white;
    width: 49px;
}

.doraemon-right-feet {
    top: -64%;
    left: 32%;
    position: relative;
    border: 1px black solid;
    border-radius: 50%;
    height: 28px;
    background: white;
    width: 49px;

}

.doraemon-bell {
    position: absolute;
    background: #ffcc00;
    width: 25%;
    height: 20%;
    border-radius: 46% 37% 46% 37%;
    top: -12%;
    left: 38%;

}

.doraemon-innerbell {
    position: absolute;
    background: #ffcc00;
    width: 92%;
    height: 2%;
    border-radius: 50%;
    top: 34%;
    left: 1%;
    border: 1px solid black;

}

.doraemon-innerbellCircle {
    position: relative;
    /* background: gray; */
    width: 5%;
    height: 2%;
    border-radius: 50%;
    top: 43%;
    left: 43%;
    border: 1px solid black;
}

.doraemon-innerline {
    position: relative;
    /* background: gray; */
    width: 1%;
    height: 27%;
    border-radius: 50%;
    top: 43%;
    left: 46%;
    border: 1px solid black;
}


.right-hand {
    position: relative;
    top: -27%;
    left: 40%;
    background: #66b3ff;
    width: 10%;
    height: 23%;
    border-radius: 34% 130% 48% 59%;
    transform: rotate(312deg);
    /* z-index: -1; */
    border: 1px solid black;
}

.left-hand {
    position: relative;
    top: -11%;
    left: 1%;
    background: #66b3ff;
    width: 10%;
    height: 23%;
    border-radius: 60% 130% 90% 90%;
    transform: rotate(131deg);
    /* z-index: -1; */
    border: 1px solid black;
}

.doraemon-left-handBall {
    position: absolute;
    top: 35%;
    left: -10%;
    background: white;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    z-index: -1;
    border: 1px solid black;
}

.doraemon-right-handBall {
    position: absolute;
    top: 63%;
    left: 52%;
    background: white;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    z-index: -1;
    border: 1px solid black;
}

.sparkle {
    top: 25%;
    left: 15%;
    background: white;
    width: 35%;
    height: 35%;
    border-radius: 50%;
}

body {
    background: white;
}

.doraemon-top-centerLine {
    top: 19%;
    left: 50%;
    background: black;
    width: 1%;
    height: 23%;
    position: absolute;
}

.doraemon-right-line1 {
    top: 0%;
    left: 80%;
    background: black;
    width: 1%;
    height: 33%;
    position: absolute;
    transform: rotate(-112deg)
}

.doraemon-right-line2 {
    top: 12%;
    left: 80%;
    background: black;
    width: 1%;
    height: 32%;
    position: absolute;
    transform: rotate(-90deg);
}

.doraemon-right-line3 {
    top: 24%;
    left: 80%;
    background: black;
    width: 1%;
    height: 33%;
    position: absolute;
    transform: rotate(-72deg);
}

.doraemon-left-line1 {
    top: -3%;
    left: 20%;
    background: black;
    width: 1%;
    height: 33%;
    position: absolute;
    transform: rotate(-73deg);

}

.doraemon-left-line2 {
    top: 8%;
    left: 20%;
    background: black;
    width: 1%;
    height: 33%;
    position: absolute;
    transform: rotate(-90deg);
}

.doraemon-left-line3 {
    top: 23%;
    left: 22%;
    background: black;
    width: 1%;
    height: 33%;
    position: absolute;
    transform: rotate(-113deg);
}